<h1><%= @appointment.appointment_datetime %></h1>
<<<<<<< HEAD
<%= link_to @appointment.doctor_name, doctor_path(@doctor) %>
<%= link_to @appointment.patient_name, patient_path(@patient) %>
=======
 <%= link_to @appointment.doctor_name, doctor_path(@doctor) %>
 <%= link_to @appointment.patient_name, patient_path(@patient) %>
>>>>>>> 1d5a0de0b9319d6bf5252f84dd652e81ef6430a9
